.footer {
    display: flex;
    justify-content: center;
    padding: 150px 0 50px 0;
}

.footer_container {
    max-width: 1440px;
    margin: 0 auto;
}

.footer_top {
    display: flex;
    align-items: center;
    gap: 75px;
}

.footer_logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 16px;
    color: #252525;
}

.footer_logo img {
    width: 350px;
}

.footer_logo div {
    font-size: 20px;
    font-weight: 600;
}

.footer_network {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.footer_network a,
.footer_network div:last-child {
    font-size: 14px;
    color: #428FD7;
    font-weight: 500;
}

.footer_network a:hover {
    text-decoration: underline !important;
}

.footer_network div {
    font-size: 14px;
    font-weight: 600;
}

.footer_bottom {
    display: flex;
    gap: 32px;
}

.footer_bottom > * {
    font-size: 14px;
    color: #252525;
    
}

.footer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.footer_bottom a {
    text-decoration: underline !important;
}