.header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 110px;
    max-width: 1270px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 15px ;
}

.header * {
    color: #252525;
}

.header_info {
    display: flex;
    align-items: center;
    gap: 48px
}

.header_mail {
    position: relative;
    text-decoration: underline !important;
    font-size: 16px;
}

.header_phone {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_phone > * {
    font-weight: 700;
}

.header_phone a {
    font-size: 24px;
}

.header_time {
    font-size: 14px;
    font-weight: 500;
}




@media (max-width: 900px) {
    .header_info {
        display: none;
    }
}

@media (min-width: 901px) {
    .header_phone__mobile {
        display: none;
    }
}

@media (max-width: 500px) {
    .header_logo {
        max-width: 150px;
    }

    .header {
        align-items: flex-end;
        height: 81px;
        padding-bottom: 15px;
    }
}