.header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 110px;
    max-width: 1270px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 15px ;
}

.header * {
    color: #252525;
}

.header_info {
    display: flex;
    align-items: center;
    gap: 48px
}

.header_mail {
    position: relative;
    text-decoration: underline !important;
    font-size: 16px;
}

.header_phone {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_phone > * {
    font-weight: 700;
}

.header_phone a {
    font-size: 24px;
}

.header_time {
    font-size: 14px;
    font-weight: 500;
}
