@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./header.css');
@import url('./footer.css');


* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    position: relative;
}

html, body {
    overflow-x: hidden;
}

.container {
    max-width: 1710px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}





.page {

}

.page_top {

}

.page_about {
    margin-top: 239px;
}

.content_top {
    position: relative;
}

.content_top__back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    min-height: 600px;
    max-height: 715px;
}

.content_top {
    display: flex;
    position: relative;
    margin-top: 110px;
}

.content_top .container {
    position: relative;
}

.content_top__img ,
.content_top__img__mobile,
.content_about__img,
.content_about__mobile_img{
    width: 100%;       
    max-width: 1080px; 
    transform: translateX(112px);
}

.content_top__container {
    display: flex;
}

.content_top__img img,
.content_top__img__mobile img,
.content_about__img img,
.content_about__mobile_img img{
    width: 100%; 
    min-width: 1080px;
    height: auto;   
}

.content_top__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 46px;

    height: 715px;
    max-width: 732px;
    width: 100%;
}

@media (max-width: 1800px) {
    .content_top__img img,
    .content_top__img__mobile img,
    .content_about__img img,
    .content_about__mobile_img img{
        min-width: 900px;
    }
}

@media (max-width: 1600px) {
    .content_top__img img,
    .content_top__img__mobile img,
    .content_about__img img,
    .content_about__mobile_img img{
        min-width: 700px;
    }
}

@media (max-width: 1400px) {
    .content_top__img img,
    .content_top__img__mobile img,
    .content_about__img img,
    .content_about__mobile_img img{
        min-width: 500px;
    }
}


.content_top__title {
    font-size: 150px;
    font-weight: 700;
    line-height: 150px;
    color: #222222;
}

.content_top__subtitle {
    font-size: 53px;
    line-height: 20px;
    font-weight: 600;
    color: #222222;
}

.content_top__description {
    font-size: 24px;
    line-height: 140%;
    color: #5E5E5E;
}

.content_top__bottom {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.content_bottom {
    margin-left: 180px;
    margin-top: 90px;
}

.content_bottom__text {
    width: 100%;
    max-width: 478px;
    font-weight: 700;
    position: relative;
}

.content_bottom__text::before {
    content: '';
    position: absolute;
    top: 0;
    left: -16px;
    width: 4px;
    height: 100%;
    background-color: #000;
}











.content_about__container {
    display: flex;
    position: relative;
}

.content_about__descriptions {
    margin-top: 107px;
    margin-left: 150px;
    max-width: 507px;
    width: 100%;
}

.content_about__back {
    position: absolute;
    z-index: -1;
    left: 500px;
    top: -193px;
}

.content_about__img {
  transform: translateX(-113px)
}










.page_video {
    margin-top: 407px;
}

.content_video {
    height: 848px;
    width: 100%;
}

.content_video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}






.page_info {
    margin-top: 64px;
    color: #3A3A3A;
}

.content_info__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
}

.content_info__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 28px;

    padding: 57px 0;
    background: #F7F7F7;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 600;
}

.content_info__descriptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 286px;
    width: 100% ;
    text-align: center;
}

.content_info__description_square {
    font-weight: 700;
    font-size: 32px;
}





.page_cash {
    margin-top: 117px;
}

.content_cash {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 36px;

    max-width: 603px;
    margin: 0 auto;
}

.content_cash__title {
    display: flex;
    gap: 27px;
    font-weight: 700;
    font-size: 36px;
}

.content_cash__line {
    width: 57px;
    height: 4px;
    background-color: #000;

}

.content_cash__subtitle {
    font-weight: 700;
    text-align: center;
}





.page_form {
    margin-top: 130px;
    background: linear-gradient(180deg,rgba(255, 255, 255, 0.84) 23%, rgba(153, 153, 153, 0.16) 86%);
}

.content_form {
    display: flex;
}

.content_form__img {
    margin-left: -113px;
}

.content_form__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 604px;
    margin: 0 auto;
}

.content_form__title {
    font-size: 32px;
    font-weight: 700;
}

.content_form__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    width: 100%;
}

.content_form__inputs {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

.content_form__inputs input {
    font-size: 16px;
    padding: 16px;
    background: #FFF;
    border-radius: 4px;
}

.content_form__form {
    margin-top: 16px;
}

.content_form__description {
    font-size: 16px;
    text-align: center;
}

.content_form__personal {
    display: flex;
    gap: 16px;
    color: #222222;
}

.content_form__personal_body a {
    color: #222222;
    text-decoration: underline !important;
}



















.content_form__personal_body input[type="checkbox"] {
    display: none;
}

.content_form__personal_input {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 10px;
}

.content_form__personal_input * {
        color: #222222;
}

.custom_checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 24px;
    height: 24px;
    border: 1px solid #D5D5D5;
    border-radius: 2px;
    background: #fff;
    position: relative;
    transition: 0.2s;
}

.custom_checkbox img {
    display: none;
}

input[type="checkbox"]:checked + .custom_checkbox img {
    display: block;
}






.button {
    background: #428FD7;
    color: #fff;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 600;

    max-width: 390px;
    width: 100%;
    padding: 13px 0;

    cursor: pointer;

    transition: background 0.15s ease;
}

.button:hover {
    background: #1761AD;
}

@media (max-width: 1600px) {
    .content_top__img {
        transform: translateX(0px);
    }   
}

@media (max-width: 1400px) {
    .content_top__info {
        height: 415px;
    }
    .content_top__title {
        font-size: 100px;
        line-height: 100px;
    }
    .content_top__subtitle {
        font-size: 35px;
        line-height: 13px;
    }
    .content_top__description {
        font-size: 16px;
    }

    .content_top__bottom {
        align-items: center;
    }

    .content_top__description br {
        display: none;
    }
}

@media (max-width: 1300px) {
    .content_about__img {
        display: none;
    }

    .content_about__mobile_img {
        transform: translateX(0);
        max-width: none;
    }

    .content_about__mobile_img img {
        height: 400px;
        object-fit: cover;
    }

    .page_about {
        margin-top: 64px;
    }

    .content_about__descriptions {
        margin: 46px 0 0 0 ;
        font-size: 16px;
    }

    .content_about__container {
        justify-content: center;
    }
    
    .content_about__back {
        left: 0px;
    }
}

@media (min-width: 1301px) {
    .content_about__mobile_img {
        display: none;
    }
}

@media (max-width: 1200px) {
    .content_info__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .content_form {
        flex-direction: column;
    }

    .content_form__body {
        margin-top: 64px;
        padding-bottom: 40px;
    }
    
    .content_form__img {
        display: none;
    }

    .content_form__mobile_img {
        height: 400px;
        width: 100%;
        object-fit: cover;
    }
    
    .page_form {
        margin-top: 65px;
    }
    
}

@media (min-width: 1200px) {
    .content_form__mobile_img {
        display: none;
    }
}

@media (max-width: 1100px) {
    .content_top__container {
        flex-direction: column-reverse;
    }

    .content_top__img {
        display: none;
    }

    .content_top__img_mobile img {
        height: 400px;
        width: 100%;
        object-fit: cover;
    }

    .content_top {
        flex-direction: column;
    }

    .content_top__back {
        display: none;
    }

    .content_top__titles {
        display: flex;
        align-items: flex-end;
    }

    .content_top__subtitle {
        padding-bottom: 20px;
    }

    .content_top__info {
        align-items: center;
        max-width: none;
        height: auto;
        margin-top: 30px;
    }


    .content_bottom {
        margin: 63px 0 0 0;
    }

    .content_bottom__container {
        display: flex;
        justify-content: center;
    }

    .content_bottom__text {
        background-color: #F7F7F7;
        padding: 40px 20px 23px 20px;
        text-align: center;
        border-radius: 4px;
        font-size: 14px;
    }

    .content_bottom__text::before {
        position: absolute;
        top: 22px;
        left: 50%;
        transform: translateX(-50%);
        width: 50px;
        height: 4px;
        background-color: #000;
    }

    .content_bottom__text br {
        display: none;
    }

    .content_about__back {
        top: -50px;
    }


    .content_video {
        height: 400px;
    }
}

@media (min-width: 1101px) {
    .content_top__img_mobile {
        display: none;
    }
}

@media (max-width: 800px) {
    .content_about__back {
        top: 0px;
    }

    .content_info__descriptions span {
        font-size: 16px;
    }
}

@media (max-width: 650px) {
    .content_about__back {
        top: 100px;
    }

    .content_top__title {
        font-size: 77px;
        line-height: 77px;
    }

    .content_top__titles {
        gap: 10px;
    }

    .content_top__subtitle {
        font-size: 28px;
        line-height: 0px;
    }

    .content_top__info {
        gap: 10px;
    }

    .page_info {
        margin-top: 32px;
    }

    .content_info__item {
        padding: 12px;
        gap: 12px;
    }

    .content_info__item img {
        height: 50px;
    }

    .content_info__item span {
        font-size: 14px;
    }

    .content_cash__title {
        font-size: 22px;
        gap: 15px;
    }

    .content_cash__line {
        display: none;
    }

    .content_cash__subtitle {
        font-size: 16px;
    }

    .content_cash {
        gap: 21px;
    }
    
    .page_cash {
        margin-top: 64px;
    }

    .content_form__title {
        font-size: 20px;
    }

    .content_form__description {
        font-size: 16px;
    }

    .button {
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    .content_top {
        margin-top: 80px;
    }

    .content_about__back {
        top: 150px;
    }
    
    .page_video {
        margin-top: 325px;
    }
}